FLASK_SECRET_KEY=be101bbb9fb73c93f70cf52e8aa4ca6297d3d5e1da09bd4c20118d6b52953d3a
MONGO_URI=mongodb+srv://gokulbusinessdb:Gokul0420@business-ai-assistant.xtluqpi.mongodb.net/?appName=Business-AI-Assistant
HF_TOKEN=your_huggingface_token
SMTP_EMAIL=gokulm.codes@gmail.com
SMTP_PASSWORD=ptlglgggbqkkdbmd
CONTACT_RECIPIENT_EMAIL=gokulm.codes@gmail.com