body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow: hidden;
    color: #fff;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.glass-effect {
    max-width: 800px;
    padding: 40px 60px;
    background: rgba(0, 0, 0, 0.664);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.745);
    animation: fadeIn 1.2s ease-in-out;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

p {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #f0f0f0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.home-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background: linear-gradient(135deg, #00b4d8, #0077b6);
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
    background: linear-gradient(135deg, #0077b6, #00b4d8);
    transform: scale(1.1);
}

.home-button:active {
    transform: scale(1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    .home-button {
        padding: 12px 25px;
        font-size: 1rem;
    }
}
